logs/
.service_pids
NexoFrontend/
backend-module-employees/
backend-module-gateway/
backend-module-users/
backend-module-schedule/
backend-module-appointments/
backend-module-billing/
backend-module-convenios/
backend-history-template/